<div class="container mt-5 main-logo-background">
  <div class="row justify-content-end">
    <div class="col-12 col-md-8 col-lg-6">
      <app-welcome-text></app-welcome-text>
    </div>
    <div class="col-12 col-md-8 col-lg-6 justify-content-end">
      <div class="background"></div>
      <form
        class="card-styling"
        [formGroup]="form"
        (ngSubmit)="form.valid && loginUser()"
      >
        <img class="logo-image" src="../../../assets/pet-logo.png" alt="logo" />
        <h3>Login User</h3>
        <app-input
          [type]="'email'"
          [propertyName]="'Email'"
          [inputValue]="'email'"
          [formChild]="form"
        >
        </app-input>

        <app-input
          [type]="'password'"
          [propertyName]="'Password'"
          [inputValue]="'password'"
          [formChild]="form"
        >
        </app-input>

        <!-- <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">
 -->

 <div class="mt-2">
   <a href="/forgot-password"> Forgot Password? </a>
 </div>
       
 <button class="login-button">Log In</button>

        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          class="create-button"
        >
          Create your account
        </button>
      </form>

      <app-modal></app-modal>
    </div>
  </div>
</div>
