.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  width: 130px;
  left: 10px;
  height: auto;
  position: absolute;
  top: 5px;
}

/* new style */
// .

.card-styling {
  height: 430px;
  margin-left: auto;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #131313;
  letter-spacing: 0.5px;
  outline: none;
  border: none;

}

.card-styling h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}


.card-styling .login-button {
  margin-top: 10px;
  color:#ffffff;
  width: 100%;
  background-color: #609dde;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.card-styling .login-button:hover {
  background-color: #4562d7;
}

.card-styling .create-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(40, 111, 4, 0.585);
  color: #ffffff;
  text-align: center;
  width:100%;
  cursor:pointer;
}
.card-styling .create-button:hover {
background-color: rgba(61, 145, 71, 0.991);;
}

