  <div class="container mt-5">
    <div class="row justify-content-end">
      <div class="col-12 col-md-8 col-lg-6">
        <p class="display-4">
          {{text}}
        </p>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card card-styling">
          <div class="card-body">
            <div class="logo-div mt-3">
             <img class="logo-image" src="./assets/pet-logo.png" />
            </div>
            <h2 class="card-title text-center fs-4 fw-light">PetApp</h2>
            <form [formGroup]="form" (ngSubmit)="form.valid && loginUser()">
                <app-input [fieldType]="'email'" [propertyName]="'Email address'" [inputValue]="'email'" [formChild]="form"></app-input>
                <app-input [fieldType]="'password'" [propertyName]="'Password'" [inputValue]="'email'" [formChild]="form"></app-input>
                <div class="mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-100" data-bs-theme="dark">
                  Log In   
                </button>
              </div>
              <div class="mt-3">
                <a href=""> Forgot Password? </a>
              </div>
              <hr>
            </form>
              <div class="mt-3 d-flex justify-content-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Create new account  
                </button> 
                 <app-modal></app-modal>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- <div class="card flex-center-center">
  <div class="card-styling align-text">
    <div class="logo-div flex-center-center">
      <img class="logo-image" src="./assets/pet-logo.png" />
    </div>
    <div class="flex-center-center">
      <form [formGroup]="form" (ngSubmit)="form.valid && loginUser()" class="form-styles">

        <app-input [fieldType]="'email'" [propertyName]="'Email'" [inputValue]="'email'" [formChild]="form"></app-input>


        <app-input [fieldType]="'password'" [propertyName]="'Password'" [inputValue]="'password'" [formChild]="form">
        </app-input>

        <div class="flex-center-center">
          <button type="submit" mat-stroked-button color="primary">
            Login
          </button>
        </div>
      </form>
    </div>
    <div class="flex-center-center spinner">
      <mat-spinner [diameter]="35" *ngIf="loading"></mat-spinner>
    </div>
  </div>
</div> -->
