<div class="form-floating">
  <input
  [type]="type"
  id="floatingInputGrid"
  value="{{propertyName}}"
  placeholder="{{propertyName}}"
  [formControl]="formChild.controls[inputValue]"
  [ngClass]="{
    'form-control': true,
    'is-invalid':
    formChild.controls[inputValue].errors &&
    formChild.controls[inputValue].touched
  }"
  class="form-control form-control-sm"
  [readOnly]="loading"
  >
  <label for="floatingInputGrid text-body-secondary">{{propertyName}}</label>
  <div
  *ngIf="
    formChild.controls[inputValue].errors &&
    formChild.controls[inputValue].touched
    "
  class="invalid-feedback"
  >
  <span for="floatingInputGrid" *ngFor="let error of getErrors(formChild.controls[inputValue])" class="fw-medium">
    {{ error }} 
  </span>
</div>
</div>


<!-- @else {
  
  <div class="form-label mb-3">
    <input
      [type]="type"
      [formControl]="formChild.controls[inputValue]"
      id="floatingInput"
      [ngClass]="{
        'form-control': true,
        'is-invalid':
          formChild.controls[inputValue].errors &&
          formChild.controls[inputValue].touched
      }"
      class="form-control-sm"
      [readOnly]="loading"
    />
    <label for="floatingInput">{{ propertyName }}</label>
    <div
      *ngIf="
        formChild.controls[inputValue].errors &&
        formChild.controls[inputValue].touched
      "
      class="invalid-feedback"
      >
      <span *ngFor="let error of getErrors(formChild.controls[inputValue])">
        {{ error }} 
      </span>
        
    </div>
  </div>
} -->
