     <form [formGroup]="form" (ngSubmit)="form.valid && registerUser()" class="needs-validation">

       <div class="mb-3">
         <app-input [fieldType]="'text'" [propertyName]="'Name*'" [inputValue]="'name'" [formChild]="form"></app-input>
       </div>
       <div class="mb-3">
         <app-input [fieldType]="'text'" [propertyName]="'Last Name*'" [inputValue]="'lastName'" [formChild]="form">
         </app-input>
       </div>
       <div class="mb-3">
         <app-input [fieldType]="'date'" [propertyName]="'Birthday*'" [inputValue]="'birthDay'" [formChild]="form">
         </app-input>
       </div>

       <div class="mb-3">
         <app-input [fieldType]="'email'" [propertyName]="'Email*'" [inputValue]="'email'" [formChild]="form">
         </app-input>
       </div>
       <div class="mb-3">
         <app-input [fieldType]="'password'" [propertyName]="'Password*'" [inputValue]="'password'" [formChild]="form">
         </app-input>
       </div>
       <div class="mb-3">
         <app-input [fieldType]="'password'" [propertyName]="'Confirm Password*'" [inputValue]="'confirmPassword'"
           [formChild]="form"></app-input>
       </div>
       <div class="mb-3 position-relative">
         <div class="profile-img-container">
           <img [src]="srcResult != null ? srcResult: './assets/blank-profile.png'" class="profile-img">
         </div>
         <button type="button" class="btn btn-secondary" (click)="fileInput.click()"> Choose a profile photo</button>
         <input hidden (change)="onFileSelected($event)" type="file" #fileInput class="form-control" id="file">
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      </form>
