<div class="container d-flex justify-content-center">
  <div class="col">
    <div
      class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4"
    >
      <!-- <label for="search"><i class="material-icons sm-icon">search</i> Search pet</label> -->
      <div class="input-group mb-3">
        <input
          type="text"
          id="search"
          [(ngModel)]="searchPet"
          class="form-control col-md-6"
          (input)="search()"
          placeholder="🔍 Search Pet"
        />
        <button
          class="btn btn-light active dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
        >
          {{ selectedFilter }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li *ngFor="let filter of filters">
            <a class="dropdown-item" (click)="selectedFilter = filter">
              {{ filter }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Search Pet</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="searchPet"
        (input)="search()"
        
      />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-select placeholder="Filters" [disableOptionCentering]="true">
        <mat-option *ngFor="let filter of filters" [value]="filter">
      
          {{ filter }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
<div class="card-body">
  <h4 class="card-title text-center">Results</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Cuadro de resultados -->
<!-- <div class="card-body">
        <h4 class="card-title text-center">Resultados</h4>
        <ul class="list-group mt-3">
            <li class="list-group-item"></li>
            <li class="list-group-item">Resultado 2</li>
            <li class="list-group-item">Resultado 3</li>
        </ul>
    </div> -->

<!-- <div class="search-pets-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">resultado</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td> resultado 1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Resultado 2</td>
            </tr>
        </tbody>
    </table>
</div>     
   -->

<!-- <input
    type="text"
    class="p-inputtext-lg"
                  placeholder="Search Pets"
                  pInputText
                  [(ngModel)]="searchPet"
                  (input)="search()"
                /> -->
