.search-pets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile-img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}
.row {
  --bs-gutter-x: 5.8rem;
}
.mb-3 {
  margin-right: -2rem !important;
}

.scroll {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: #97d9e1;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(115, 161, 207);
  border-radius: 25px;
}



