.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.moon-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



button  {
    border: none;
    outline: none;
    :hover{
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;
        transform: scale(1.2);
    }
}