.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.moon-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.big-icon {
    font-size: 1.5rem;
}