<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="chat-container" id="chatContainer">
            <div class="chat-message bot-message">
              Hola, soy tu asistente virtual. ¿Cómo puedo ayudarte hoy?
            </div>
            <div class="chat-message user-message">
              Hola, Necesito saber sobre las pulgas en gatos bebes.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
