<div class="popup-button">
  <a
    tabindex="0"
    class="search-button"
    role="button"
    data-bs-trigger="hover focus"
    data-bs-toggle="popover"
    data-bs-title="This Pet Info"
    data-bs-html="true"
    data-bs-content="
        <div>
          <p>Here would go incredible information about the pet, I'll add it soon...</p>
          <ul>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
          </ul>
          <p>Additional information can go here.</p>
        </div>
      "
    >
    View Info
</a>

<!-- Add ComponentFactoryResolver  -->
  
</div>
