// .logo-div {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//   }
  .logo-image {
    width: 60px; /* Ajusta el tamaño del logo aquí */
    height: auto;
    // position: absolute;
    align-items: start; /* Ajusta la posición vertical aquí */
  }