// .logo-div {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//   }
.logo-image {
  width: 60px; /* Ajusta el tamaño del logo aquí */
  height: auto;
  // position: absolute;
  align-items: start; /* Ajusta la posición vertical aquí */
}
.navbar {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  color: white;
  padding: 1px 20px 1px 20px;
  background-color: rgba(31, 113, 190, 0.279);
  
  .nav-item {
    .nav-link {
      font-size: 18px;
      color: #e7dfdf;
    }
  }
}
.navbar-brand {
  :hover {
    transform: scale(1.1);
    transition: 0.5s;

    opacity: 0.5;
  }
}

// .bg-body-tertiary {
//   background-color: #4562d7 !important;
// }
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
