<nav
  class="navbar sticky-top navbar-expand-lg"
  data-bs-theme="light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo-image" src="../../../assets/logo-brand.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons sm-icon">home</i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons sm-icon">pets</i> Pets
          </a>
        </li>
      </ul>
      <div class="btn-group dropstart ms-auto">
        <a
          href="#"
          class="nav-link dropstart-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../assets/blank-profile.png"
            alt="profile"
            class="rounded-circle profile-img"
          />
        </a>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span class="material-symbols-outlined sm-icon"> settings </span>
              Settings
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span class="material-symbols-outlined sm-icon"> mail </span>
              Messages
            </a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a (click)="logOut()" class="dropdown-item" href="#">
              <span class="material-symbols-outlined sm-icon"> logout </span>
              Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- <div class="btn-group dropstart ms-auto">
        <ul class="navbar-nav">
        <li class="nav-item dropstart">
        <a
        class="nav-link dropstart-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >
        <img
        [src]="srcResult != null ? srcResult : '../../../assets/blank-profile.png'"
        class="profile-img float-end"
        /> 
        </a>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href="#">
          <i class="pi pi-cog sm-icon"></i> Settings
        </a>
        </li>
        <li>
        <a class="dropdown-item" href="#">
          <i class="pi pi-inbox sm-icon"></i> Messages
        </a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
        <a (click)="logOut()" class="dropdown-item" href="#">
          <i class="pi pi-sign-out sm-icon"></i> Sign Out
        </a>
        </li>
        </ul>
        </li>
        </ul>
        </div>
        </div> -->
