.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-image: url("../../../assets/filenotfound.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
    height: 100vh;
}
    