<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header py-1 d-flex align-items-center justify-content-between"
      >
        <div>
          <h1 class="modal-title text-left fs-3 fw-semibold py-1 mt-3 mb-1">
            Sign Up
          </h1>
          <p class="text-body-secondary">It's quick and easy. 🐣</p>
        </div>
        <button
          type="button"
          class="btn-close p-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-register></app-register>
        <div class="d-grid gap-2">
          <!-- <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
            Close
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
