.logo-image{
    position: relative;
    // left: -45.5%;
    width: 65px;

}

.modal-content {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    color: #e8e8e8;
    background-color: rgba(13, 137, 220, 0.564);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);    
}
