<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-center justify-content-between">
            <div class="logo-div mt-3">
                <img class="logo-image" src="./assets/pet-logo.png" />
            </div>
            <h1 class="modal-title fs-5 text-center flex-grow-1" id="staticBackdropLabel">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <app-register></app-register>
              </div>
            </div>
          </div>
        </div>
